* {
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }

  html, body {
    height: 100%;
  }
  
  input,
  select,
  textarea,
  button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  body {
    font-family: var(--core-font-family-sans);
    //font-size: $body-font-size;
    //line-height: $body-line-height;
    color: white;
    background-color: var(--semantic-color-container-canvas-bg-primary);
    -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
  }