:root {
        --ui-color-surface-primary: #fbf3ed;
--ui-color-surface-secondary: #f6e4d6;
--ui-color-surface-tertiary: #fdf9f5;
--button-color-surface-primary-default: #d50173;
--button-color-surface-primary-hover: #509ba9;
--button-color-text-primary-default: #ffffff;
      }