:root {
        --ui-color-surface-primary: #002e50;
--ui-color-surface-secondary: #001524;
--ui-color-surface-tertiary: #2e5470;
--button-color-surface-primary-default: #7bc3d1;
--button-color-text-primary-default: #001524;
      }